h2{
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
fieldset{

    width: 500px;
    margin: 20px 50px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px 50px;
    background-image: linear-gradient(45deg, powderblue,goldenrod);
}


label{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    margin-right:15px ;
}

label::after{
    content: "*";
    color: red;
}

button{
    padding: 10px 30px;
    margin: 20px;
    border-radius: 10px;
}

button:hover{

    background-color: black;
    color: aliceblue;
    box-shadow: 4px 4px 5px aliceblue;
}


.btn-container{
    margin-top: 40px;
}