* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(0, 0, 0);
}

ol {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

nav>ol>li{
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
background-color: aliceblue;
padding: 10px 20px;
color: aliceblue;
border-radius: 10px;
box-shadow: 3px 3px 5px ;
}
a{
  color: black;
  text-decoration-line: none;
}
